<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    <article class="h-entry">
      <div class="layout-wrapper">
        <figure class="intro-img">
          <img src="/assets/images/travel2003.jpg" alt="image alternative description" title="image title">
        </figure>

        <div class="wrapper longform" aria-label="Content">

          {% include header.html %}

          {{ content }}

          {% include footer.html %}


        </div>
      </div>
    </article>



  </body>


</html>
